# Ignore Project Memory / Viva Guide
MODEL_MEMORY.md

# Ignore Terraform working directory and state files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Ignore AWS credentials or local env files
.aws/
.env

# Jenkins CI/CD & Security Scanner Artifacts
sonar-scanner-*.zip
sonar-scanner-*/
bg-zap-report.html
bg-zap-report.json
zap-temp/

# IDE / Editor Settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS specific files
.DS_Store
Thumbs.db